{% extends 'tasks/index.html' %}
{% block content %}
        <link rel="stylesheet" href="style.css">
    <div class="content">


        <h2 class="display-4">TO DO</h2>
        <div class="card-task">
        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-6" style="padding: 10px;">{{ form.title }}</div>
            <div class="col-6" style="padding: 10px;"><input class="btn btn-success" type="submit" value="Create Task"></div>
        </form>

    {% for task in tasks %}
    <div class="row">
        <div class="col-4" style="padding: 10px;">
            <a class="btn btn-info" href="{% url 'update_task' task.id %}">Update</a>
        </div>
        <div class="col-4" style="padding: 10px;">
            <a class="btn btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
        </div>
        <div class="col-4" style="padding: 10px;">
            {% if task.complete == True %}
                <strike>{{ task }}</strike>
            {% else %}
                <span>{{ task }}</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
</div>