{% extends 'base.html' %}
{% block content %}
    <div class="content">
    <h1 class="display-4" style="background-color: coral"> BOARD: "{{ board }}"</h1>
    {% if form %}
    <div class="card border-primary" style="padding: 20px">
        <h3 class="display-6">Add task</h3>
          <form method="POST">
            {% csrf_token %}
              <div class="row">
                <div class="col-4">Tittle{{ form.title }}</div>
                <div class="col-4">Category{{ form.category }}</div>
                <div class="col-4">Status{{ form.status }}</div>
                  <br><br>
                <div class="col-4">Description{{ form.description}}</div>
                <div class="col-4"><br><input class="btn btn-secondary" type="submit" value="Create"></div>
              </div>
          </form>
    </div>
    {% endif %}

    <br><br>

    {% if formCategory %}
        <div class="card border-primary" style="padding: 20px">
        <h3 class="display-6">Add category</h3>
          <form method="POST">
            {% csrf_token %}
              <div class="row">
                  <div class="col-4">{{ formCategory.name }}</div>
                  <div class="col-4">{{ formCategory.board }}</div>
                <div class="col-4"><input class="btn btn-secondary" type="submit" value="Create"></div>
              </div>
          </form>
        </div>
    {% endif %}

    <br><br>

    <div class="row">
            {% for category in categories %}
            <div class="col-4">

                <div class="card border-primary mb-3" style="max-width: 25rem;">
                      <div class="card-header">
                          <h4 class="card-title">{{ category.name }}
                              <a href="{% url 'update_category' category.id %}"><i class="far fa-edit"></i></a>
                              <a href="{% url 'delete_category' category.id %}"><i class="far fa-trash-alt"></i></a>
                          </h4>
                      </div>


                            <div class="card-body">

                                {% for task in category.tasks.all %}
                                <div class="row">
                                    <div class="col-4" style="padding: 10px;">
                                           <p class="card-text"><span>{{ task.title }}</span></p>
                                    </div>
                                    <div class="col-4" style="padding: 10px;">
                                           <p class="card-text"><span>Status: {{ task.status }}</span></p>
                                    </div>
                                    <div class="col-4" style="padding: 10px;">
                                        <a class="btn btn-info" href="{% url 'update_task' task.id %}"><i class="far fa-edit"></i></a>
                                        <a class="btn btn-danger" href="{% url 'delete_task' task.id %}"><i class="far fa-trash-alt"></i></a>
                                    </div>

                                </div>
                                {% endfor %}

                            </div>
                        </div>
                   </div>
            {% endfor %}

           {% comment %} <div class="col-4" style="padding: 10px;">
                <div class="card border-primary mb-3" style="width: 25rem; height:20rem;">
                <div class="card-header"><h4 class="card-title">Add category</h4></div>
                    <div class="card-body">
                    <!--<button type="button" class="btn btn-success" style="width: 100%; height: 100%; font-size: 50px">+</button> -->
                    <a class="btn btn-dark" href="../board-view.html">Add category</a>
                </div>
                </div>{% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}