{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h2 class="display-5" style="background-color: coral; padding: 5px">Your boards</h2>
            </div>
            <div class="col-2">
                    <a href="{% url 'board-create' %}" class="btn btn-secondary">Create board</a>
            </div>
        <hr>
          <div class="col-12">
              <div class="display-6">My own boards</div>
                  <hr>
          </div>
        {% if own.count > 0 %}
            {% for board in own %}
                <div class="col-12">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-10">
                            <a href="{% url 'board-view' board.id %}" class="btn btn-success" role="button" style="width: 100%; background-color: #35312D">
                                <div style="padding: 30px; background-color: coral">
                                    <b style="font-size: 20px; color: black">{{ board.name }}</b>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                          <div class="card-body">
                              <div class="row">
                               <div class="col-6 text-center" style="padding: 10px;">
                                    <a class="btn btn-info" href="{% url 'board-update' board.id %}"><i class="far fa-edit"></i></a>
                                </div>
                                <div class="col-6 text-center" style="padding: 10px;">
                                    <a class="btn btn-danger" href="{% url 'board-delete' board.id %}"><i class="far fa-trash-alt"></i></a>
                                </div>
                              </div>

                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
          {% else %}
            <div class="alert alert-warning" role="alert">
                You do not have any board yet!
            </div>
          {% endif %}

         <div class="col-12">
              <div class="display-6">Collaborations</div>
                  <hr>
          </div>
        {% if collaborations.count > 0 %}
            {% for board in collaborations %}
                <div class="col-12">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-10">
                            <a href="{% url 'board-view' board.id %}" class="btn btn-success board-style" role="button" style="width: 100% ; background-color: #35312D">
                                <div style="padding: 30px; background-color: coral">
                                    <b style="font-size: 20px; color: black">{{ board.name }}</b>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2">

                          <div class="card-body">
                              <div class="row">
                               <div class="col-12 text-center" style="padding: 10px;">
                                    <a class="btn btn-info" href="{% url 'board-collaboration-exit' board.id %}"><i class="fas fa-external-link-alt"></i></a>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                You are not a collaborator in any board yet!
            </div>
        {% endif %}

              {% if messages %}

                        {% for message in messages %}
                            {% if message.tags %}
                                <p class="h5" style="background-color: coral">{{ message }}</p>
                            {% endif %}
                        {% endfor %}

                {% endif %}
        </div>
    </div>

{% endblock %}